# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# SQLite
*.db-wal
*.db-shm
lab_inventory-冲突-蚂蚁c409_Win10.db

# Environment
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project-specific
/datasheets/
schema/*.ipBtbz
schema/*.ebLvPU

*.db
*.xlsx
*.xls
*.pdf
*.bat
